body {
  background-color: #242424 !important;
  color: white !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.center-flash .ui.segment {
  margin-bottom: .25em;
  text-align: center !important;
}

.center-flash {
  font-size: 8pt;
  color: #969696;
  text-align: center;
}
